html, body, div {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: rgb(37, 25, 14);
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
} 

#root {
  width: 100%;
  height: 100%;
}

#lightbox-root {
  position: absolute;
  height: 100%;
}

/* embedded video styles */
iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.frame-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.countdown {
  text-align: center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;;
}

.frame--locked {
  cursor: initial;
}

.frame--unlocked {
  cursor: pointer;
  transform: rotate(-1deg);
}

.frame--unlocked:hover {
  border: solid palegoldenrod 3px;
  box-shadow: #ab76 0px 0px 100px 0px;
}

/* HORIZONTALLY CENTERED */
.horizontally-center {
  width: 100%;
  height: 100%;
}

.horizontally-center__content {
  display: inline-block;
  -webkit-box-shadow: black 0 10px 22px 2px;
          box-shadow: black 0 10px 22px 2px;
}

/* VERTICALLY CENTERED */
.vertically-center {
  display: table;
  width: 100%;
  height: 100%;
}

.vertically-center__content {
  display: table-cell;
  vertical-align: middle;
}

/* LIGHTBOX */
.lightbox {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.lightbox__exit {
  position: absolute;
  top: 25;
  right: 25;
  color: white;
  font-size: x-large;
  cursor: pointer;
}

.lightbox__content {
  min-width: 300px;
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  text-align: center;
  color: white;
}

/* OFFSET CONTAINER */
.offset-container {
  position: absolute;
}

/* LOADING SPLASH */
.loading-splash {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.loading-splash__title {
  width: 800px;
  margin: auto;
}

.loading-splash__spinner {
  display: block !important;
}

/* LOADING SPINNER  */
.spinner-container {
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  position: relative;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner--small {
  height: 20px;
  width: 20px;
}

.spinner--medium {
  height: 50px;
  width: 50px;
}

.spinner--large {
  height: 100px;
  width: 100px;
}

.spinner--primary {
  border-top: 2px solid silver;
}

.spinner--secondary {
  border-top: 2px solid orange;
}

/* WARNING PAGE */
.warning {
  padding: 25px;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  font-family: Julius Sans One, sans-serif;
}

.warning__heading {
  font-size: x-large;
  margin-bottom: 25px;
}

.warning__message {
  margin-bottom: 50px;
}

.warning__btn {
  border-radius: 10px;
  background-color: green;
  color: white;
  padding: 10px;
}

.warning__btn:hover {
  cursor: pointer;
}

/* SOCIAL */
